<h2>新規作成</h2>

<h3>sioriを作成する</h3>
    <%= form_for @tweet do |f| %>
    <div class="field">
    <%= f.label :メインタイトル %>
    <%= f.text_field :title, :size => 140 %><br>
    <%= f.label :メイン概要 %>
    <%= f.text_field :detail, :size => 140 %><br>
    <%= f.label :image, "メインイメージ" %>
    <%= f.file_field :image %>

    <div class="recipe-ingredients">
    <div class="mx-auto">
    <%= f.fields_for :tweet_ingredients do |t| %>
    <%= render "tweets/tweet_ingredient_fields", f: t %>
    <% end %>
    </div>

    <div class="field">
    <div id="detail-association-insertion-point"></div>
    </div>

    <div class="col-10 mx-auto mt-2">
        <%= link_to_add_association "+フォームを追加", f, :tweet_ingredients,
        class: "btn btn-secondary btn-block",
        data: {
        association_insertion_node: '#detail-association-insertion-point',
        association_insertion_method: 'after'
        }%>
    </div>
    </div>

    <%= button_tag :type => "submit", :class =>"btn btn-default btn-s-md" do %>
        <i class="fa-regular fa-note-sticky"></i>作成する
    <% end %>
<% end %>
<%= link_to "siori一覧に戻る", tweets_path %>
